@import "config";

body {
    background-color: #444;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin-top: 20px;
    margin-left: 50px;
    border: 1px solid red;
    border-radius: $border-radius;
    border-top: 4px solid black;
    width: 400px;
    height: 200px;
    text-align: center;
}

.logo {
    background-image: url("../logo.svg");
    background-size: cover;
    width: 200px;
    height: 200px;

}